h2 {
    text-align: center;
    background-color: rgb(2, 2, 43);
    color: white;
    margin-top: 0%;
}
.note {
    background-color: rgba(255, 255, 255, 0.582);
    font-size: larger;
    text-align: center;
    color: red;
    text-shadow: black 0px 0px;
}
.select {
    font-size: x-large;
    text-shadow: black 3px 2px 3.5px;
 text-align: center;
 color: whitesmoke;
}
body {
    background-image: linear-gradient(to bottom right, rgba(204, 190, 0, 0.596),rgba(24, 11, 141, 0.623));
}
.juniors {
    background-color: rgba(255, 255, 255, 0.61);
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0%;
    border-color: blue;
   border-radius: 5px;
   box-shadow: black 6px -6px 20px;
}
.seniors {
    background-color: rgba(255, 255, 255, 0.61);
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 8%;
    border-color: rgb(162, 0, 255);
   border-radius: 5px;
   box-shadow:black -6px -6px 6.5px;
}

