body {
   background-image: radial-gradient(rgba(255, 255, 0, 0.288), rgba(9, 9, 138, 0.404));
   background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 background-size: cover;
 mix-blend-mode: normal;
}

fieldset {
  position: absolute;
  top: 20%;
  left: 25%;
text-align: center;
border-radius: 10px;
box-shadow: black 3px 3px 5px;
background-color: white;
color: black;
font-size: larger;
}
h2 {
    color: rgb(35, 175, 7);
    
}